@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitcount Prop Single', sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e5e9;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 15px;
    /* overflow: hidden; */
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: right;
    margin-top: 10px;   
    margin-bottom: 10px;
    font-size: 25px;
    pointer-events: auto;
    background-color: rgb(221, 221, 221);
}

.head-row {
    display: flex;
}

.head-row .brand {
    font-family: "Orbitron", sans-serif;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 10px;
    word-spacing: 1%;
}

.head-row .toggle {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 50%;
}

.cal_btn {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.cal_btn .oprtr {
    background-color: orange;
}

.oprtr {

    color: white;
}

.cal_btn button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #d8d8d8;
    cursor: crosshair;
    font-size: 20px;
}

.cal_btn button:active {
    transform: scale(0.99);
}

/* DARK MODE */

body.dark-mode{
    background-color: #2e3440;
    color: #88c0d0;
}

body.dark-mode .container {
    background-color: #3b4252;
}

body.dark-mode .display {
    background-color: antiquewhite;
}

body.dark-mode .oprtr {
    color: #7289DA;
}

body.dark-mode .nmbr {
    color: #2a2e3a;
}

body.dark-mode .cal_btn .oprtr {
    background-color: #ebcb8b;
}

body.dark-mode button {
    background-color: #bab99d;
}

body.dark-mode .container {
    box-shadow: rgb(252, 255, 233) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body.dark-mode .display {
    box-shadow: rgb(252, 255, 233) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body.dark-mode .toggle {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}